*{
    margin:0px;
    padding:0px;
    
}

@font-face{
    font-family:Futura; 
    src:url(../fonts/futura/futura\ medium\ bt.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:Avian; 
    src:url(../fonts/avian/Avian\ Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h3{
     font-family:Futura;
}
p{
    font-family:Avian;
}
#main_container{
    width:100%;
    border:1px solid red;
    box-sizing: border-box;
    /* background: #E5E5E5; */
   
}
#header{
    width:100%;
    display:flex;
    padding-left:116px;
    padding-top:20px;
    background-color:white;
    height:80px;
    box-sizing: border-box;
    position:fixed;
    background: #E5E5E5;
    z-index: 2;
    
}
#logo_div{
   
    height:40px;
    display:flex;
 

    
}
#logo{
    width:23.06px;
    height:35.51px;
   
}
#logo img{
    width:100%;
}
#logo_text{
    width:129.5px;
    height: 29.83px;
    margin-left:2px;
    margin-top:5px;
}
#logo_text img{
    width:100%;
}

.menu_div{
  
    margin-left:350px;
    margin-top:5px;
    height:20px;
    font-family:Futura;
    width:40%;
}
.menu_div a{
   text-decoration:none;
   color:black;
   margin-right:30px;

  

}
#login_here button{
  
    padding:15px;
    position:absolute;
    top:14px;
    background-color:#245B09;
    border-radius: 2px;
    color:white;
    border:none;
    font-family:Futura;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    
}
.fa{
    font-size:20px;
   
}
#bars{
    position:absolute;
    right:40px;
    top:30px;
    display:none;
   
}
