*{
    margin:0px;
    padding:0px;
    
}

@font-face{
    font-family:Futura; 
    src:url(../fonts/futura/futura\ medium\ bt.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:Avian; 
    src:url(../fonts/avian/Avian\ Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h3{
     font-family:Futura;
}
p{
    font-family:Avian;
}
#main_container{
    width:100%;
    border:1px solid red;
    box-sizing: border-box;
    /* background: #E5E5E5; */
   
}
#header{
    width:100%;
    display:flex;
    padding-left:116px;
    padding-top:20px;
    background-color:white;
    height:80px;
    box-sizing: border-box;
    position:fixed;
    background: #E5E5E5;
    z-index: 2;
    
}
#logo_div{
   
    height:40px;
    display:flex;
 

    
}
#logo{
    width:23.06px;
    height:35.51px;
   
}
#logo img{
    width:100%;
}
#logo_text{
    width:129.5px;
    height: 29.83px;
    margin-left:2px;
    margin-top:5px;
}
#logo_text img{
    width:100%;
}

.menu_div{
  
    margin-left:350px;
    margin-top:5px;
    height:20px;
    font-family:Futura;
    width:40%;
}
.menu_div a{
   text-decoration:none;
   color:black;
   margin-right:30px;

  

}
#login_here button{
  
    padding:15px;
    position:absolute;
    top:14px;
    background-color:#245B09;
    border-radius: 2px;
    color:white;
    border:none;
    font-family:Futura;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    
}
.fa{
    font-size:20px;
   
}
#bars{
    position:absolute;
    right:40px;
    top:30px;
    display:none;
   
}

#sectiontwo_maindiv{
    border:1px solid green;
    height:500px;
   display:flex;
  
   padding-top:200px;
   padding-left:116px;
  
  
}
#sectiontwo_text{
   border:solid red 1px;
   padding-top:50px;
   height:250px;
}
#sectiontwo_text h3{
    font-size:30px;
    margin-bottom:20px;
}
#sectiontwo_text p{
  
    margin-bottom:20px;
    line-height: 20px;
}

#sectiontwo_image{
    width: 450px;
    height: 300px;
    border:1px solid black;
    margin-left:240px;
}

#sectiontwo_image img{
    width: 100%;
    
}
#store{
    display:flex;
}
.google_play{
    width: 138px;
    height: 50px;
    border:1px solid green;
}
.google_play img{
    width:100%;
}
.app_store{
    width: 138px;
    height: 50px;
    border:1px solid green;
}
.app_store img{
    width:100%;
}
#sectionthree_maindiv{
    width:100%;
    height: 200px;
    border:1px solid blue;
   
}
#upper_div{
   
    border:1px solid grey;
    display:flex;
    
   
  
  


}
#upper_div_text{
    text-align:center;
    margin:auto;
    width:70%;
    border:1px solid red;
    margin-bottom:50px;
}
#upper_div_img{
    width:40px;
    height:70px;
    border:1px solid green;
    position:absolute;
    left:290px;
    top:720px;
  
}
#upper_div_img img{
    width:100%;
}

#upper_div_text h3{
    font-size:30px;
    margin-bottom:10px;
    color: #10150C;
}
#upper_div_text p{
    line-height: 30px;
    color: #10150C;
}
#middle_div{
    height:220px;
    background-color: #E8C547;
    width: 100%;
   text-align:center;
   
}
#middle_div h3{
    font-size:30px;
    margin-bottom:10px;
    color: #10150C;
  padding-top:20px;
}
#middle_div p{
    margin-bottom:20px;
    color: #10150C;
}
#sectionthree_btn{
    padding:15px;
   
 
    background-color:#245B09;
    border-radius: 2px;
    color:white;
    border:none;
    font-family:Futura;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
#sectionfour_top{
    display:flex;
    padding-top:100px;
    padding-left:116px;
    border:1px solid purple;
}
#sectionfour_img{

    width: 400px;
    height: 250px;
    border:1px solid green;
}
#sectionfour_img img{
    width:100%;
}

#sectionfour_text{
    margin-left:260px;
}
#sectionfour_text h3{
    font-size:30px;
    margin-bottom:20px;
    line-height: 40px;
}
#sectionfour_btn{
    padding:15px;
    background-color:#245B09;
    border-radius: 2px;
    color:white;
    border:none;
    font-family:Futura;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
#sectionfour_bottom{
    width: 100%;
    text-align:center;
    padding-top:20px;
    border:1px solid rgb(29, 8, 1);
    margin-top:50px;
}
#sectionfour_bottom h3{
    font-size:30px;
    margin-bottom:20px;
   
}
#sectionfour_bottom p{
    font-size:15px;
    margin-bottom:20px;
    color: #10150C;
   
}
.sectionfour_btn_two{
    font-size:20px;
    padding:10px;
    background: #E0DDF6;
    border-radius: 10px;
    border:none;
    font-family:Futura;
    width:40%;
    color: #10150C;
}
